@{
    ViewBag.Title = "Index";
}

<!--<div>
    <div class="row">
        <div class="col-12 col-sm-8 col-md-12">
            <div class="spacer20"></div>
            <div id="logbox" class="mt-0">
                <div class="card-body">
                    <div class="text-center fw-semibold">
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                    </div>
                    <div class="row">
                        <div id="clientDisplay" class="col-xs-12 col-sm-12">
                            <div class="outframe">
                                <div style="padding: -10px 10px;">
                                    <div class="evening-task text-transform-unset bg-success-subtle text-success-emphasis">-->
                                        @*<div class="card-header text-lg-center">
                                                <a href="@Url.Action("Index", "UProfile")" class="alert-link">
                                                    <i style="float: left;">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                                                            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
                                                        </svg>
                                                        My Tasks
                                                    </i>
                                                </a>
                                                <span class="h5 card-title">&nbsp;Commitment 2</span>
                                            </div>*@
                                        <!--<div class="card-body text-primary">
                                            <h6 class="card-subtitle mb-2 text-dark-emphasis fw-bold py-3">
                                                <i class="fa-solid fa-spa text-success-emphasis me-2" aria-hidden="true"></i>&nbsp;MINDFULNESS MEDITATION
                                            </h6>
                                            <p class="card-text text-transform-unset">
                                                <div class="alert alert-dark mb-4" role="alert">
                                                    <div class="row">
                                                        <div class="col-sm-12 mb-6 mb-sm-12 col-lg-8">
                                                            <h6 class="card-title fw-bold">WHAT TO DO</h6>
                                                            <span class="card-text text-transform-unset">Listen to the guided meditation for 6 minutes</span>
                                                        </div>-->
                                                        @*<div class="col-sm-12 mb-6 mb-sm-12 col-lg-4">
                                                                <span class="card-title">
                                                                    <button class="btn rounded-pill btn-warning float-end btn-x10-y30" id="AboutCom">
                                                                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                                                                        &nbsp;About this commitmnet
                                                                    </button>
                                                                </span>
                                                            </div>*@
                                                    <!--</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 mb-3 mb-sm-0">
                                                        <div class="table-responsive bluetablebackgrounds">
                                                            <span id=Mark_{MT} class="text-secondary-emphasis MarkAsDone fw-bold">
                                                                <i class="MarkAsDone  fa fa-calendar-check-o  fa-1x text-secondary-emphasis mx-2" aria-hidden="true"></i>
                                                                Mark as done
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->



<div class="mt-4">
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="sectionZero-tab-pane" role="tabpanel"
             aria-labelledby="sectionZero-tab" tabindex="0">
            <div class="mainDataTablePage">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="mainTitleUnderDatatable">
                            Mindfullness Meditation <i data-bs-toggle="tooltip"
                                                       title="Define clear goals for each task.Break down complex tasks into steps."
                                                       class="fa-solid fa-circle-info ms-2"></i>
                        </h4>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-secondary" role="alert">
                            <h5> What to do?</h5>
                            <p>Listen to the guided meditation for 6 minutes.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="markDone"> Mark as Done</h3>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tab-pane fade" id="sectionOne-tab-pane" role="tabpanel"
     aria-labelledby="profile-tab" tabindex="0">
</div>
@section scripts {
    <script src="~/Scripts/UProfile.js"></script>
}
