@{
    ViewBag.Title = "Index";
}

<!--<div class="">
    <div class="row">
        <div class="col-12 col-sm-8 col-md-12">
            <div class="spacer20"></div>
            <div id="logbox" class="mt-0">
                <div class="card-body">
                    <div class="text-center fw-semibold">
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                    </div>
                    <div class="row">
                        <div id="clientDisplay" class="col-xs-12 col-sm-12">
                            <div class="outframe">
                                <div style="padding: -10px 10px;">
                                    <div id="divSpottingTriggers" class="evening-task text-transform-unset bg-body-tertiary text-warning-emphasis">
                                        <div class="card-body text-primary">
                                            <h6 class="card-subtitle mb-2 text-primaryTT-emphasis fw-bold py-3">
                                                <i class="fa-regular fa-life-ring pe-3" aria-hidden="true"></i>Spotting Triggers-->
                                                @*<button class="btn btn-primary btn-sm " id="AboutCom">
                                                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                                                    &nbsp;About this commitmnet
                                                </button>*@
                                            <!--</h6>
                                            <p class="card-text">
                                                <div class="alert alert-danger mb-4" role="alert">
                                                    <div class="row">
                                                        <div class="col-sm-12 mb-6 mb-sm-12 col-lg-8">
                                                            <h6 class="card-title fw-bold">WHAT TO DO</h6>
                                                            <span class="card-text">Make a list of any time in the last 24 hours when you became short tempered or suddenly upset</span>
                                                        </div>
                                                        <div class="col-sm-12 mb-6 mb-sm-12 col-lg-4">
                                                            <span class="card-title">
                                                                
                                                                <button href="javascript:void(0)" class="btn rounded-pill float-end btn-x10-y30 bg-body-tertiary" id="AddTrigger">
                                                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                                                    &nbsp;Add new trigger
                                                                </button>   
                                                                
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 mb-3 mb-sm-0">
                                                        <div class="">
                                                            <div class="">
                                                                <div class="">
                                                                    <div class="table-responsive bluetablebackgrounds">
                                                                        <table id="tbtriggers" class="table table-bordered table-responsive">
                                                                            <thead>
                                                                                <tr role="row">
                                                                                    <th class="small" style="display: flex; justify-content: flex-end;padding-bottom:30px">
                                                                                        <button href="javascript:void(0)" class="btn rounded-pill me-2 btn-x10-y30 bg-body-tertiary" id="AllTrigger">
                                                                                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                                                                            &nbsp;Timeline of all triggers added
                                                                                        </button>
                                                                                        <button href="javascript:void(0)" class="btn rounded-pill btn-x10-y30 bg-body-tertiary" id="reset">
                                                                                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                                                                            &nbsp;Reset
                                                                                        </button>
                                                                                    </th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->





<div class="mt-4">
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="sectionZero-tab-pane" role="tabpanel"
             aria-labelledby="sectionZero-tab" tabindex="0">
            <div id="divSpottingTriggers" class="mainDataTablePage">
                <div class="row">
                    <div class="col-md-3">
                        <h4 class="mainTitleUnderDatatable">
                            Spotting Triggers 
                            @*<i data-bs-toggle="tooltip"
                                                 data-bs-placement="top"
                                                 title="Define clear goals for each task.Break down complex tasks into steps."
                                                 class="fa-solid fa-circle-info ms-2"></i>*@
                        </h4>
                    </div>
                    <div class="col-md-9">
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-outline-primary me-3" id="AllTrigger">
                                <i class="fa-solid fa-circle-plus me-2"></i>
                                Timeline of all sptting triggers added
                            </button>
                            <button class="btn btn-outline-primary me-3" id="reset">
                                <i class="fa-solid fa-circle-plus me-2"></i>
                                Reset
                            </button> @*id="AddBrainFitness"*@
                        <button class="btn btn-primary AddTrigger" data-bs-toggle="offcanvas"
                                data-bs-target="#brainExerciseDrawer">
                            <i class="fa-solid fa-circle-plus me-2"></i>
                            Add new trigger
                        </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-secondary" role="alert">
                            <h5> What to do?</h5>
                            <p>
                                Make a list of any time in the last 24 hours when you became short tempered or suddenly upset
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h5>@Html.ValidationSummary("", new { @class = "text-danger" })</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table id="tbtriggers" class="display" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Trigger Event</th>
                                        <th>Emotion</th>
                                        <th>Body Feeling</th>
                                        <th>Why is this a trigger?</th>
                                        <th>Avoidance/Management of trigger</th>
                                        <th>Date & Time</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script src="~/Scripts/triggers.js"></script>
}
