
@{
    ViewBag.Title = "AdviceQ_18N_19Y_20Y_New";
    Layout = "~/Views/Shared/_survey_layout.cshtml";
}

<div class="mainContentArea advisenresponse">
    <div class="row">
        <div class="col-md-6 pe-md-0">
            <div class="outerWrapper top-right-bottom-radius-0">
                <div class="innerWrapperSection">
                    <h4>Advise and response! </h4>
                    <div class="videoWrapper">
                        <iframe width="100%"
                                height="100%"
                                src="~/Media/eng/Q18N.mp4"
                                title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen>
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 ps-md-0">
            <div class="rightWrapper">
                <h4> Thank you for your answers. </h4>
                <div class="response-area">
                    <p class="description">
                        Your details will now be forwarded to one of our specialist, qualified clinicians who will assess them and determine the appropriate pathway for you.
                    </p>
                    <div class="alert alert-primary d-flex align-items-top" role="alert">
                        <i class="fa-solid fa-circle-info"></i>
                        <div>
                            You should expect hear back within the next 2-4 weeks to outline the best next step for you to take.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

