
@{
    ViewBag.Title = "AdviceQ4_D_E_New";
    Layout = "~/Views/Shared/_survey_layout.cshtml";
}

<div class="mainContentArea advisenresponse">
    <div class="row">
        <div class="col-md-6 pe-md-0">
            <div class="outerWrapper top-right-bottom-radius-0">
                <div class="innerWrapperSection">
                    <h4>Advise and response! </h4>
                    <div class="videoWrapper">
                        <iframe width="100%"
                                height="100%"
                                src="~/Media/eng/Q4-Advice.mp4"
                                title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen>
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 ps-md-0">
            <div class="rightWrapper">
                <h4>Need Specialist! </h4>
                <div class="response-area">
                    <p class="description">
                        It looks like you will need specialist help for your overall mental health and so, for this reason, I will message the team and move you to a higher priority in the team's waiting list.
                    </p>

                    <div class="alert alert-danger" role="alert">
                        <div>
                            Please note, if you feel like you need help today then please call... (probably 111, but maybe a different helpline in each Trust) or 999 if you need urgent help right now - for example, if you thoughts to harm yourself or others currently.
                        </div>
                        <div class="d-flex bg-white mt-4">
                            <i class="fa-solid fa-triangle-exclamation"></i>
                            <div> Emergency 999 </div>
                        </div>
                        <div class="d-flex bg-white mb-0">
                            <i class="fa-solid fa-triangle-exclamation"></i>
                            <div> National non-emergency medical number 111 </div>
                        </div>
                    </div>
                    <p class="description">
                        Otherwise, I can confirm that you will need to see a specialist and that they should be in touch before too long. To repeat, however, do contact the emergency numbers if you need urgent help.
                    </p>
                    <p class="description">
                        Thank you for connecting with our assessment system. All the best, and I look forward to you receiving the help you need soon.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
