
@{
    ViewBag.Title = "AdviceQ_18Y_19Y_20Y_New";
    Layout = "~/Views/Shared/_survey_layout.cshtml";
}

<div class="mainContentArea advisenresponse">
    <div class="row">
        <div class="col-md-6 pe-md-0">
            <div class="outerWrapper top-right-bottom-radius-0">
                <div class="innerWrapperSection">
                    <h4>Advise and response! </h4>
                    <div class="videoWrapper">
                        <iframe width="100%"
                                height="100%"
                                src="~/Media/eng/Q18YYY.mp4"
                                title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen>
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 ps-md-0">
            <div class="rightWrapper">
                <h4> Thank you for your answers. </h4>
                <div class="response-area">
                    <p class="description">
                        There is a significant possibility that you may indeed get the threshold for a diagnosis of ADHD.
                    </p>
                    <p class="description">
                        This will need to be confirmed by further professional assessments by our clinical team, I will therefore keep you listed ion the waiting list and member of the team will be in touch with you in due course to book your appointment.
                    </p>
                    <p class="description">
                        Please note that the waiting list is currently a number of months and so it may be several months before you hear back from the team. I'd like to ensure you, however, that you're in the right place and you likely will indeed benefit from a professional opinion.
                    </p>
                    <div class="alert alert-info d-flex align-items-top" role="alert">
                        <i class="fa-regular fa-circle-check"></i>
                        <div>
                            I wish you all the best and good luck in your next stage assessment.
                        </div>
                    </div>
                    <p class="description">
                        Thank you,
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

