@{
    ViewBag.Title = "Confirmation Email Sent";
    Layout = "~/Views/Shared/_LayoutUnauthed.cshtml";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <div>
        <p class="fw-normal">
            Please check your email and confirm your email address.
        </p>
    </div>
</main>
