@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_LayoutUnauthed.cshtml";
}

    <div class="container-fluid">
        <div class="row">
            <div class="d-none d-sm-block col-sm-2 col-md-3"></div>
            <div class="col-12 col-sm-8 col-md-6">
                <div class="spacer20"></div>
                <div id="logbox" class="card mt-0">
                    <div class="card-body">
                        @*<div class="text-center">
                            @Html.ActionLink("Wholly Automated ADHD Triage Service", "Index", "Home", new { area = "" }, new { @class = "navbar-brand fw-semibold" })<br />
                        </div>
                        <hr />*@
                        <div class="row">
                            <div id="clientDisplay" class="col-xs-12 col-sm-12">
                                <div class="outframe">
                                    <div style="background-color: #ffffff; border: 1px solid #c6cbd2; padding: 0 0;">
                                        <div class="alert alert-info" role="alert" style="margin-bottom:5px;">
                                            <h6 class="fw-semibold">@ViewBag.Title</h6>
                                        </div>
                                        <div>
                                            <p class="fw-normal">
                                                Please check your email to reset your password.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
