<!-- Modal -->

    <div class="modal fade" id="msModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="ModalLabel">@ViewBag.Title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modal-body">
                    ...
                </div>
                <div class="modal-footer" id="Modelfooter">
                    @*<button type="button" class="btn btn-secondary ScrMatxSave" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary ScrMatxSave">Save</button>*@
                </div>
            </div>
        </div>
    </div>

