<ul class="translate-wrapper">
    <li>
        <div id="google_translate_element"></div>
    </li>
</ul>
<style>
    .goog-te-banner-frame.skiptranslate {
        display: none !important;
    }

    body {
        top: 0px !important;
    }

    .goog-te-gadget {
        font-size: 0 !important;
    }

        .goog-te-gadget .goog-te-combo {
            width: 200px; /* Set your desired width here */
            font-size: 14px; /* Optional: adjust font size */
        }
</style>

